h1 
  { color: blue }


 .bouton {

    color: white;
    background: blue;
    font-style: italic;
    font-size: 2em;
    font-family: arial;
    text-align: center;
    text-decoration: underline;
    padding: 8px;
    border: 2px solid black;
    margin: 10px;

 } 