<h1 align="center"><u>Palmarès des joueurs de tennis</u></h1>

<br>
<br>


<!-- <form (ngSubmit)="ajouter()">

  <input [(ngModel)]="nom" name="nom" placeholder="Nom">

  <input [(ngModel)]="prenom" name="prenom" placeholder="Prenom">

  <button type="submit">Ajouter</button>

</form>


<div >
    <ul >
      <li  *ngFor="let p of liste">
        {{p.id}} - {{p.nom}} {{p.prenom}}
      </li>
    </ul>
</div>


<p>Compteur : {{ liste.length }}</p>
 -->

 <!-- <ul>
        <li><a routerLink="/federer" >Roger Federer</a></li>
        <li><a routerLink="/nadal" >Rafael Nadal</a></li>
        <li><a routerLink="/djokovic">Novak Djokovic</a></li>
        
  </ul>  -->

  <br>
  <br>

 <div align="center">
             
              <!-- <button routerLink="/remplissage" class="bouton">Remplissage</button> -->
              &nbsp; &nbsp;&nbsp; &nbsp;
              <button routerLink="/affichage" class="bouton">Liste des joueurs de tennis</button>
            
 </div>

 <br>
 <br>
 
 <div align="center">
             
             <button routerLink="/gestion-jt" class="bouton">Gestion du Palmarès des joueurs de tennis </button>
              &nbsp; &nbsp;&nbsp; &nbsp;
              <button routerLink="/affichage-jt" class="bouton">Affichage du Palmarès des joueurs de tennis</button>
 </div>

<br>
<br>

<h2>Liste des 3 meilleurs joueurs de tennis de tous les temps</h2>

   <ul>
        <li><a routerLink="/federer" >Roger Federer</a></li>
        <li><a routerLink="/nadal" >Rafael Nadal</a></li>
        <li><a routerLink="/djokovic">Novak Djokovic</a></li>
        
  </ul> 

<!-- 

<h1>monSite4 - JT</h1>



<input [(ngModel)]="nom" placeholder="Nom">

<input [(ngModel)]="prenom" placeholder="Prenom">



<!-- <button type="submit" (click)="ajouter()">Ajouter</button> -->

<!-- <button type="button" (click)="ajouter()">Ajouter</button>


<ul>
  <li *ngFor="let p of liste">
    {{p.id}} - {{p.nom}} {{p.prenom}}
  </li>
</ul> -->





<!-- <h1>monSite4 - JT</h1>

<form (ngSubmit)="ajouter()">

  <input
    [(ngModel)]="nom"
    name="nom"
    placeholder="Nom"
  >

  <input
    [(ngModel)]="prenom"
    name="prenom"
    placeholder="Prenom"
  >

  <button type="submit">
    Ajouter
  </button>

</form>

<ul> -->











<!-- <p>jt works!</p> -->
